.visite {
    width: 100%;
}
.visite .img_ecole .schole{
    width: 100%;
    height: 250px;
}
.visite .visite_container {
    box-shadow: 0px 10px 35px 0px #00000008;
    background-color: #FAFAFA;
    border-radius: 30px;
}
.visite .visite_container .lignes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.visite .visite_container .ligne {
        margin-bottom: 10px;
        margin-top: 10px;
        background: #000000;
        height: 1px;
        width: 40%; 
}
.visite .visite_container .lignes_two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.visite .visite_container .ligne_two {
        background: #dadada;
        height: 1px;
        width: 100%; 
}

.visite .visite_container .nom_ecole {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.28px;
    color: #5396E4;
}
.visite .visite_container .button {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visite .visite_container .button .btn_valider {
    margin-top: 10px;
    border-radius: 50px;
    background-color: #3CA4A3;
    width: 90%;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
}
.visite .visite_container .info_ecole{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.visite .visite_container .info_ecole .ico .ico_wrp{
    padding: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFA800;
    border-radius: 100px;
}
.visite .visite_container .info_ecole .ico {
    width: 120px;
    height: 60px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.visite .visite_container .info_ecole  .title {
    color: #848A9C;
    padding-left: 10px;
}
/* tabs*/
.visite .tab .tablist {
    display: flex;
    justify-content: center;
    gap: 50px;
}